<table class="table table-hover">
  <thead class="thead-light">
    <th>#Catégorie No.</th>
    <th>Titre</th>
    <th>
      <a class="btn btn-outline-success" routerLink="/order"
        ><i class="fa fa-plus-square"></i> Create New</a
      >
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let item of categorieList">
      <th (click)="openForEdit(item.CategorieID)">{{ item.CategorieID }}</th>
      <td (click)="openForEdit(item.CategorieID)">{{ item.Titre }}</td>
      <td>
        <a class="btn text-danger" (click)="onOrderDelete(item.OrderID)"
          ><i class="fa fa-trash fa-lg"></i
        ></a>
      </td>
    </tr>
  </tbody>
</table>
